@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
}

:root {
  --main-text-color: #ffffff;
  --light-bg-color: rgb(220 252 231);
  --medium-bg-color: rgb(134 239 172);
  --main-bg-color: #22c55e;
  --secondary-bg-color: rgb(22 163 74);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b4b4b4;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8e8e;
  border-radius: 10px;
  transition: 350ms ease-in-out;
}

.cl-internal-ttumny {
  background-color: #22c55e;
  box-shadow: rgb(34, 197, 94) 0px 0px 0px 1px,
    rgba(34, 197, 94, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 197, 94, 0.2) 0px 2px 3px 0px,
    rgba(34, 197, 94, 0.24) 0px 1px 1px 0px !important;
}
.cl-internal-ttumny:hover {
  background-color: rgb(34 197 94 / 0.8);
}

.cl-internal-180wb59,
.cl-internal-1857dod {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
